@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
​
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #cf7e7e;
    color: #9C5F5F;
    line-height: 18px;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    padding: 20px;

}

.container {
    display: flex;
    flex-direction: row;
    text-align: center;
    background-color: white;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.5%; /* 18px / 800px */
    width: 85%;
    align-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
    max-width: 100%;
}

ul#list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(112, 50, 50);
    height: 100%;

}

.list-name {
    font-size: 20px;
    border: 1px solid rgb(92, 19, 19);
    border-radius: 10px;
    background-color: rgb(255, 219, 219);
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    padding: 20px;
}

/* Item card */

.item-description {
    padding-top: 15px;
    text-align: left;
}

#create-list-item-form {
    display: none;

}

.delete-item {
    position: relative;
    top: 10px;
    right: 75px;
    border-radius: 10px;
}

#submit-form {
    border-radius: 10px;
}